#button-container{
margin: 0pc 0pc 0pc 2pc; 

}
h1{

    margin: 0pc 0pc 0pc 2pc; 

}

h3 {
    margin: 0pc 0pc 0pc 2pc; 

}
#gif-container{
    margin: 0pc 0pc 0pc 2pc;
}
.inputGroup{
    margin: 0pc 0pc 0pc 2pc;
}