body{
    background-color:black;
}


#button-container{
margin: 0pc 0pc 0pc 2pc; 

}
h1{
    color: whitesmoke;
    margin: 0pc 0pc 0pc 2pc; 

}

h3 {
    margin: 0pc 0pc 0pc 2pc; 
    color: whitesmoke;
}

p{
    color: gray;
    font-weight: bolder;
}
#gif-container{
    margin: 0pc 0pc 0pc 2pc;
    background-image: url("images.png")
}
.inputGroup{
    margin: 0pc 0pc 0pc 2pc;
}
button {
margin: .5pc;


}